@using Lightcore.Kernel.Http
<nav>
    <ul>
        <li><a href="/@Html.LightcoreContext().Language.Name">Home</a></li>
        <li><a href="/@Html.LightcoreContext().Language.Name/products">Products</a></li>
        <li><a href="/@Html.LightcoreContext().Language.Name/contact">Contact</a></li>
    </ul>
    <ul>
        <li><a href="/en-us">en-US</a></li>
        <li><a href="/da-dk">da-DK</a></li>
    </ul>
</nav>