@using System.Threading.Tasks
@using Lightcore.Kernel.Data
@using Lightcore.Kernel.MVC
@model Item
<article>
    <h2>@Model.Fields.FirstOrDefault(f => f.Name.Equals("Title", StringComparison.OrdinalIgnoreCase)).Value</h2>
    @Html.Raw(Model.Fields.FirstOrDefault(f => f.Name.Equals("Text", StringComparison.OrdinalIgnoreCase)).Value)
</article>
@await Html.Lightcore().Placeholder("sidebar")