@using System.Threading.Tasks
@using Lightcore.Kernel.Data
@using Lightcore.Kernel.MVC
@model Item
<p>
    <img src="@Model["Image"]" alt="Lightcore" />
</p>
<article>
    <h2>@Model["Title"]</h2>
    @Html.Raw(Model["Text"])
</article>
@await Html.Lightcore().Placeholder("sidebar")