@using WebApp.Kernel
@model Item
<html>
<head>
    <title>@Model.Path - Lightcore</title>
</head>
<body>
    <div>
        <p>Model.Type: @Model.GetType()</p>
        <p>Model.Language.Name: @Model.Language.Name</p>
        <p>Model.Path: @Model.Path</p>
    </div>
    <div>
       @await Html.Lightcore().Placeholder("content")
    </div>
<footer>
    @await Html.Lightcore().Placeholder("footer")
</footer>
</body>
</html>