html {
    background-color: rgb(12, 36, 53);
}

body {
    color: #d4d4c9;
    font-family: "Courier New", Courier, monospace;
    font-size: 1.2em;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.5em;
    width: 92%;
}

a {
    color: #d4d4c9;
}

    a:hover {
        color: rgb(250, 244, 10);
    }

footer {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
    text-align: center;
}

nav {
    border-bottom: 1px solid gray;
    height: 70px;
}

    nav ul {
        padding: 0px;
    }

    nav li {
        list-style: none;
        display: inline;
    }

#debug {
    color: darkgrey;
}

#menu {
    float: left;
}

#languages {
    float: right;
}