<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <hooks>
      <hook type="Lightcore.Server.SitecoreRedis.DatabaseEventHandlers, Lightcore.Server.SitecoreRedis">
        <param desc="database">web</param>
        <param desc="configuration">127.0.0.1:6379</param>
        <param desc="paths">/sitecore/content|/sitecore/system/languages</param>
        <param desc="fields">__updated</param>
      </hook>
    </hooks>
  </sitecore>
</configuration>