<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <lightcore>
      <redis>
        <connection configuration="127.0.0.1:6379" />
      </redis>
    </lightcore>
    <events>
      <event name="publish:complete">
        <handler type="Lightcore.Server.SitecoreRedis.SaveSnapshot, Lightcore.Server.SitecoreRedis" method="Run">
          <param desc="paths">/sitecore/content|/sitecore/system/languages</param>
          <param desc="fields">__updated|__revision</param>
        </handler>
        <handler type="Lightcore.Server.SitecoreRedis.DeletePreviousSnapshots, Lightcore.Server.SitecoreRedis" method="Run" />
      </event>
    </events>
  </sitecore>
</configuration>