@using System.Threading.Tasks
@using Lightcore.Kernel.Data
@using Lightcore.Kernel.Mvc
@model Item
@Html.Lightcore().Field("Image")
<article>
    <h2>@Model["Title"]</h2>
    @Html.Lightcore().Field("Text")
</article>
@await Html.Lightcore().Placeholder("sidebar")