@using System.Threading.Tasks
@using Lightcore.Kernel.Data
@using Lightcore.Kernel.Mvc
@model Item
@Html.Lightcore().RenderField("Image")
<article>
    <h2>@Model["Title"]</h2>
    @Html.Lightcore().Field("Text")
    <p>
        @Html.Lightcore().RenderField("General Link")
    </p>
</article>
@await Html.Lightcore().PlaceholderAsync("sidebar")